[submodule "navigation"]
	path = navigation
	url = https://github.com/weilai-robot/Humanoid_navigation.git
[submodule "motion_control"]
	path = motion_control
	url = https://github.com/weilai-robot/Humanoid_motion.git
